<form class="form-general">
  <h3 class="text-center">!Se un agente multibanco kasnet!</h3>
  <mat-form-field class="example-full-width">
    <mat-label>Nombres</mat-label>
    <input matInput placeholder="Tu nombre" value="" />
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Apellido Paterno</mat-label>
    <input matInput placeholder="Tu apellido paterno" value="" />
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Apellido Materno</mat-label>
    <input matInput placeholder="Tu apellido materno" value="" />
  </mat-form-field>

  <div class="form-email">
    <mat-form-field class="field-email">
      <mat-label>Correo Electrónico</mat-label>
      <input matInput placeholder="Tu correo" value="" />
    </mat-form-field>
    <div>
      <span class="domain-email">@</span>
    </div>
    <mat-form-field class="example-full-width">
      <mat-select
        [(value)]="emailSelected.value"
        (selectionChange)="setEmailValue($event.value)"
      >
        <mat-option *ngFor="let email of emails" [value]="email.value">
          {{ email.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <mat-form-field class="field-email" *ngIf="emailSelected === 'otro'">
    <mat-label>Ingrese el dominio</mat-label>
    <input matInput placeholder="mail.com" value="" />
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Cuenta con RUC?</mat-label>
    <mat-select>
      <mat-option *ngFor="let value of haveRuc" [value]="value">
        {{ value }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Departamento</mat-label>
    <mat-select (selectionChange)="getProvincies($event.value)">
      <mat-option
        *ngFor="let departament of departaments"
        [value]="departament.id_ubigeo"
      >
        {{ departament.nombre_ubigeo }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Provincia</mat-label>
    <mat-select (selectionChange)="getDistricts($event.value)">
      <mat-option
        *ngFor="let province of provincies"
        [value]="province.id_ubigeo"
      >
        {{ province.nombre_ubigeo }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Distrito</mat-label>
    <mat-select>
      <mat-option
        *ngFor="let district of districts"
        [value]="district.id_ubigeo"
      >
        {{ district.nombre_ubigeo }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div class="text-center">
    <button mat-raised-button color="primary">
      <mat-icon>add_circle</mat-icon> Registrarse
    </button>
  </div>
</form>
